Source: salt-formula-kubernetes
Maintainer: Jakub Pavlik <jakub.pavlik@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-kubernetes
Vcs-Git: https://github.com/tcpcloud/salt-formula-kubernetes.git

Package: salt-formula-kubernetes
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: Kubernetes Salt formula
 Install and configure Kubernetes cluster with manifests.
