{% set common = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['curl', 'git', 'apt-transport-https', 'python-apt', 'nfs-common', 'socat', 'netcat-traditional', 'openssl'],
        'services': [],
    },
    'RedHat': {
        'pkgs': ['curl', 'git', 'apt-transport-https', 'python-apt', 'nfs-common', 'socat', 'netcat-traditional', 'python'],
        'services': [],
    },
}, merge=salt['pillar.get']('kubernetes:common')) %}

{% set master = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [],
        'services': ['kube-apiserver','kube-scheduler','kube-controller-manager'],
    },
    'RedHat': {
        'pkgs': [],
        'services': [],
    },
}, merge=salt['pillar.get']('kubernetes:master')) %}

{% set pool = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [],
        'services': ['kube-proxy'],
    },
    'RedHat': {
        'pkgs': [],
        'services': [],
    },
}, merge=salt['pillar.get']('kubernetes:pool')) %}

{% set control = salt['grains.filter_by']({
    'Debian': {
        'service': {},
        'config_type': "default",
    },
    'RedHat': {
        'service': {},
        'config_type': "default",
    },
}, merge=salt['pillar.get']('kubernetes:control')) %}

