{% set common = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['curl', 'git', 'apt-transport-https', 'python-apt', 'nfs-common', 'socat', 'netcat-traditional', 'openssl'],
        'services': [],
    },
    'RedHat': {
        'pkgs': ['curl', 'git', 'apt-transport-https', 'python-apt', 'nfs-common', 'socat', 'netcat-traditional', 'python'],
        'services': [],
    },
}, merge=salt['pillar.get']('kubernetes:common')) %}

{% set _kubernetes_addons = {
    'dns': {
        'dnsmasq': {
            'cache-size': '1000',
            'no-resolv': None,
            'server': '127.0.0.1#10053',
            'log-facility': '-',
        },
    },
} %}

{% set master = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [],
        'services': ['kube-apiserver','kube-scheduler','kube-controller-manager'],
        'addons': _kubernetes_addons,
    },
    'RedHat': {
        'pkgs': [],
        'services': [],
        'addons': _kubernetes_addons,
    },
}, merge=salt['pillar.get']('kubernetes:master')) %}

{% set pool = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [],
        'services': ['kube-proxy'],
        'addons': _kubernetes_addons,
    },
    'RedHat': {
        'pkgs': [],
        'services': [],
        'addons': _kubernetes_addons,
    },
}, merge=salt['pillar.get']('kubernetes:pool')) %}

{% set control = salt['grains.filter_by']({
    'Debian': {
        'service': {},
        'config_type': "default",
    },
    'RedHat': {
        'service': {},
        'config_type': "default",
    },
}, merge=salt['pillar.get']('kubernetes:control')) %}

