{% set common = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['curl', 'git', 'apt-transport-https', 'python-apt', 'nfs-common', 'socat', 'netcat-traditional', 'openssl', 'kubernetes-client', 'kubernetes-node', 'python-etcd'],
        'services': [],
    },
    'RedHat': {
        'pkgs': ['curl', 'git', 'apt-transport-https', 'python-apt', 'nfs-common', 'socat', 'netcat-traditional', 'python'],
        'services': [],
    },
}, merge=salt['pillar.get']('kubernetes:common')) %}

{% set master = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['kubernetes-master'],
        'services': ['kubelet'],
    },
    'RedHat': {
        'pkgs': [],
        'services': [],
    },
}, merge=salt['pillar.get']('kubernetes:master')) %}

{% set pool = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [],
        'services': ['kubelet'],
    },
    'RedHat': {
        'pkgs': [],
        'services': [],
    },
}, merge=salt['pillar.get']('kubernetes:pool')) %}

{% set control = salt['grains.filter_by']({
    'Debian': {
        'service': {},
    },
    'RedHat': {
        'service': {},
    },
}, merge=salt['pillar.get']('kubernetes:control')) %}

